shift enter to run the command
Pandas lib is used for analyzing
datetime lib because there is not date data type in python so date is considered as object 
r means raw string --so that the backslash is taken as backslash and not a special character

In [35]:
df1= pd.DataFrame([[1,2,3],[2,7,3]],index = ['A','B'],columns=['X','Y','Z'])
df1

   X  Y  Z
A  1  2  3
B  2  7  3

In [25]:
import pandas as pd
djan = pd.read_csv(r"D:\SANA\Capstone1\Cyclist Data\Jan21.csv")
dfeb = pd.read_csv(r"D:\SANA\Capstone1\Cyclist Data\Feb21.csv")
dmar = pd.read_csv(r"D:\SANA\Capstone1\Cyclist Data\Mar21.csv")
dapr = pd.read_csv(r"D:\SANA\Capstone1\Cyclist Data\Apr21.csv")
dmay = pd.read_csv(r"D:\SANA\Capstone1\Cyclist Data\May21.csv")
djun = pd.read_csv(r"D:\SANA\Capstone1\Cyclist Data\Jun21.csv")

In [27]:
djan.head(5)
for col in djan.columns:
    print(col)
print(djan.columns)
print(djan.keys())
list(djan.columns.values)

ride_id
rideable_type
started_at
ended_at
member_casual
Index(['ride_id', 'rideable_type', 'started_at', 'ended_at', 'member_casual'], dtype='object')
Index(['ride_id', 'rideable_type', 'started_at', 'ended_at', 'member_casual'], dtype='object')

['ride_id', 'rideable_type', 'started_at', 'ended_at', 'member_casual']

In [24]:
djan.rename(columns={'ride_id':'Ride_Id'})
print(djan.columns)
djan.rename(columns={'Ride_id':'ride_Id'},inplace = True)

Index(['Ride_Id', 'rideable_type', 'started_at', 'ended_at', 'member_casual'], dtype='object')

In row 18 -- Various ways to inspect the data and column names
In row 24 -- rename function along with inplace keyword- this key word is by default as false and when made true it will return nothing

In [41]:
dframes = [djan,dfeb,dmar,dapr,dmay,djun]
djanjun = pd.concat(dframes) #join two or more data frames with same column names 
#temp = pd.merge(djan,dfeb,,right_on = 'ride_id')
dcountr = djanjun.shape[0] #count the rows
dcountc = djanjun.shape[1] #count the columns
print(len(djanjun.index))# another way to find the count of rows 
print(dcountr,dcountc)
#can be also done through dictionary
#temp={'a':djan,'b:dfeb'}
#result = pd.concat(temp)

1973410
1973410 5

In [ ]:
#To delete the unwanted Column 
#djan.drop(col_name,inplace=True,axis = 1)
#del djan['colname']
#djan.pop('colname')---this will return the popped column